<p>
  <div><%= comment.content %></div>
  <div>
    <%= comment.user %>
    <%= link_to 'Show', comment_path(comment) %>
    <%= link_to 'Delete', comment_path(comment),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
  </div>
</p>
